body{
background-image: url('file:///C:/Users/ADMIN/Downloads/DALL%C2%B7E%202024-10-19%2018.45.27%20-%20A%20clean%20and%20futuristic%20background%20for%20an%20image-to-text%20converter%20project.%20This%20design%20should%20evoke%20the%20process%20of%20image%20data%20transforming%20into%20text,%20w.webp');
background-repeat: no-repeat;
background-size: cover;}

.grid-item {
  padding: 20px;
  text-align: center;
}